html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --area-porta-altura: 310px;
  --area-porta-largura: 200px;
  --cor-primaria: #a70d1f;
  --cor-secundaria: #ff6f00;
  --cor-terciaria: #5d9ca5;
  --cor-escurecida: #5a1f2d;
  --cor-escura: #5a1f2d;
  --cor-clara: azure;
}
