.main {
  background-color: var(--cor-clara);
  display: flex;
  justify-content: top;
  align-items: center;
  min-height: 90vh;
  flex-direction: column;
}
.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 10vh;
  background: var(--cor-primaria);
}
.titulo {
  margin: 0;
  padding: 0;
  color: var(--cor-clara);
}
.subtitulo {
  margin: 0;
  padding: 0;
  color: var(--cor-clara);
}
.regras {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
