.area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  width: var(--area-porta-largura);
  height: var(--area-porta-altura);
}
.selecao {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 25px solid var(--cor-secundaria);
  visibility: hidden;
}
.selecionada {
  visibility: visible;
}
.portal {
  background-color: var(--cor-clara);
  display: flex;
  flex-direction: column-reverse;
  width: 90%;
  height: 290;
  flex-grow: 1;
  border-top: 5px solid var(--cor-escura);
  border-left: 5px solid var(--cor-escura);
  border-right: 5px solid var(--cor-escura);
}

.porta {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--cor-escurecida);
  align-items: center;
  padding: 2rem;
  flex-grow: 1;
}
.numero {
  font-size: 2rem;
  font-weight: bold;
  color: var(--cor-clara);
}
.chao {
  height: 10px;
  width: 100%;
  background-color: var(--cor-primaria);
}
.macaneta {
  position: absolute;
  right: 10px;
  top: calc(var(--area-porta-altura) * 0.45);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--cor-primaria);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
}
