.botao {
  margin: 10px;
  font-size: clamp(0.4rem, 5vw, 1.3rem);
  padding: 1em;
  border-radius: 12px;
  border: 1px solid white;
  outline: none;
}

.ativo {
  background-color: white;
  color: brown;
  border: 1px solid brown;
}
.desativo {
  background-color: brown;
  color: white;
}
